@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}

.card {
  @apply backdrop-blur-md backdrop-saturate-200 bg-gray-900 bg-opacity-75 rounded-xl;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.decorated {
  @apply overflow-hidden w-full text-center;
}

.decorated > span {
  @apply relative inline-block;
}

.decorated > span:before,
.decorated > span:after {
  content: "";
  @apply absolute top-1/2 border-b-2 border-white w-full mx-5;
}

.decorated > span:before {
  @apply right-full;
}

.decorated > span:after {
  @apply left-full;
}
