@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
  @apply bg-neutral-900;
}

.card {
  @apply backdrop-blur-md backdrop-saturate-200 bg-gray-900 bg-opacity-75 rounded-xl backdrop-brightness-110;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.divided-text {
  @apply overflow-hidden w-10/12 text-center;
}

.divided-text > span {
  @apply relative inline-block text-gray-200;
}

.divided-text > span:before,
.divided-text > span:after {
  content: "";
  @apply absolute top-1/2 border-b border-gray-400 w-full mx-5;
}

.divided-text > span:before {
  @apply right-full;
}

.divided-text > span:after {
  @apply left-full;
}
